<div class="row">
    <h1 class="">Idényebéd helyiből, csomagolás nélkül. Hogyan?</h1>
</div>
<div class="row">
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 shadow-sm p-3 mb-5 bg-white rounded">
        <p>Nesciunt facilis velit repellendus ullam assumenda incidunt accusantium adipisci laborum cupiditate, rem dignissimos iste eaque ea quasi sit. Aliquam distinctio doloribus eveniet.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 shadow-sm p-3 mb-5 bg-white rounded">
        <p>Eligendi laudantium nihil obcaecati doloremque earum ratione recusandae tempora fugiat pariatur esse quia, repudiandae, consectetur, voluptatum molestiae laborum. Odio assumenda qui possimus.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 shadow-sm p-3 mb-5 bg-white rounded">
        <p>Nemo, et. Perferendis repellat labore quam voluptatum autem at suscipit rem, dolorem praesentium magni facere delectus reiciendis asperiores perspiciatis assumenda numquam doloribus?</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 shadow-sm p-3 mb-5 bg-white rounded">
        <p>In nulla perspiciatis eaque, nobis, libero tempora optio magnam laudantium quo ut voluptatum eum sapiente reprehenderit aliquam nam vel nihil consequuntur. Voluptatem.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 shadow-sm p-3 mb-5 bg-white rounded">
        <p>Architecto sunt quo soluta voluptates, tenetur placeat consectetur voluptatibus atque earum cum impedit iure laboriosam possimus ullam quaerat! Maxime nesciunt maiores aut.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 shadow-sm p-3 mb-5 bg-white rounded">
        <p>Veniam explicabo voluptate vel sed quo perspiciatis nam provident deleniti, atque nisi labore, reiciendis libero in facere voluptates eaque doloremque. Ut, temporibus.</p>
    </div>
</div>
