<table class="table table-striped table-hover table-sm table-bordered thead-dark">
  <tbody>
    <tr>
      <th></th>
      <th>I.</th>
      <th>II.</th>
      <th>III.</th>
      <th>IV.</th>
      <th>V.</th>
      <th>VI.</th>
      <th>VII.</th>
      <th>VIII.</th>
      <th>IX.</th>
      <th>X.</th>
      <th>XI.</th>
      <th>XII.</th>
    </tr>
    <tr>
      <th>Alma</th>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Áfonya</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Bazsalikom</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Birsalma és körte</th>
      <td>T</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Berkenye</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Borsikafű</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Burgonya</th>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Brokkoli</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Cékla</th>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Cikória</th>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
    </tr>
    <tr>
      <th>Citromfű</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Cukkíni</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Cukorsüveg saláta</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Csemege-kukorica</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Cseresznye</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Csicsóka</th>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
    </tr>
    <tr>
      <th>Egres</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Endívia</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
    </tr>
    <tr>
      <th>Édeskáposzta</th>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Faeper (fekete és fehér eper)</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Fejes saláta</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
    </tr>
    <tr>
      <th>Fekete retek</th>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Fekete ribizli</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Fodros kel</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Fokhagyma</th>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Földieper (szamóca)</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Főzőtök</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Füge</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Gesztenye</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Görögdinnye</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Gumós kömény</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td></td>
    </tr>
    <tr>
      <th>Hónapos retek</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Jégsaláta</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Kakukkfű</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Kapor</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Karalábé</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Karfiol</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Kelbimbó</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
    </tr>
    <tr>
      <th>Kelkáposzta</th>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Kínai kel</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Koriander</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Kökény</th>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
    </tr>
    <tr>
      <th>Körömvirág</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Körte</th>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Lestyán</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Levendula</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Lilahagyma</th>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Lilakáposzta</th>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Madársaláta</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
    </tr>
    <tr>
      <th>Majoranna</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Málna</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Mángold</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Meggy</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Menta</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Mizuna</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Naspolya</th>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Nektarin</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Oreganó (Szurokfű)</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Őszibarack</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Padlizsán</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Pak choi</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Paradicsom</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Pasztinák</th>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Patiszon</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Petrezselyem-gyökér</th>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Petrezselyem-zöld</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Póréhagyma</th>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Radiccio</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Rebarbara</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Ribizli</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Ringló</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Rozmaring</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Rukola</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Sárgabarack</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Sárgadinnye</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Sárgarépa</th>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Snidling</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Sóska</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Spárga</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Spenót</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th>Sütőtök</th>
      <td>T</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Szárzeller</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Szeder</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Szilva</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Szőlő</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Tarlórépa</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td></td>
    </tr>
    <tr>
      <th>Uborka</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Újhagyma</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Vöröshagyma</th>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Zellergumó</th>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Zöldbab</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Zöldborsó</th>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Zöldpaprika</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>T</td>
      <td></td>
    </tr>
    <tr>
      <th>Zsálya</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td>B</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <th>I.</th>
      <th>II.</th>
      <th>III.</th>
      <th>IV.</th>
      <th>V.</th>
      <th>VI.</th>
      <th>VII.</th>
      <th>VIII.</th>
      <th>IX.</th>
      <th>X.</th>
      <th>XI.</th>
      <th>XII.</th>
    </tr>
  </tbody>
</table>
